*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
/ort-results
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
*.aab
/screenshotTests/src/test/snapshots/images/
fastlane/play-store-key.json
fastlane/report.xml
fastlane/README.md
.build-native/
.claude
.opencode
.grok/
.env
